In [1]:
!pip install PyMySql

Collecting PyMySql
  Downloading PyMySQL-0.10.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 500 kB/s eta 0:00:01
Installing collected packages: PyMySql
Successfully installed PyMySql-0.10.0

In [1]:
import pymysql as pms

In [36]:
conn = pms.connect(host = "localhost",
                  user = "root",
                  password = 'midaniya26',
                  db = "movie",
                  charset = 'utf8')

In [37]:
curs = conn.cursor()

In [83]:
curs.execute('CREATE TABLE theater(brand_name VARCHAR(20) NOT NULL,PRIMARY KEY(brand_name));')

0

In [84]:
curs.execute("INSERT INTO theater VALUES('CGV');")
curs.execute("INSERT INTO theater VALUES('메가박스');")
curs.execute("INSERT INTO theater VALUES('롯데시네마');")

1

In [86]:
# 도시 table
sql = 'CREATE TABLE city(city_id INT NOT NULL AUTO_INCREMENT, city_name varchar(20),PRIMARY KEY(city_id));'
curs.execute(sql)

0

In [88]:
# 지점 table
sql = 'CREATE TABLE branch(branch_id VARCHAR(30) NOT NULL, branch_name VARCHAR(10), city_id INT, brand_name varchar(20),PRIMARY KEY(branch_id),FOREIGN KEY(city_id) REFERENCES city(city_id),FOREIGN KEY(brand_name) REFERENCES theater(brand_name));'
curs.execute(sql)

0

In [45]:
# 영화정보테이블 생성
## id는 숫자 title 제목
curs.execute("CREATE TABLE movie(movie_id INT NOT NULL AUTO_INCREMENT, title VARCHAR(30), info TEXT,age_grade INT, genre VARCHAR(10), running_time INT,director VARCHAR(20), cast VARCHAR(40), company VARCHAR(20),PRIMARY KEY(movie_id));")

0

In [40]:
curs.execute("INSERT INTO movie(title) VALUES('노트북(notebook)');")
curs.execute("INSERT INTO movie(title) VALUES('너의 이름은');")
curs.execute("INSERT INTO movie(title) VALUES('이프 온리(If only)');")

1

In [89]:
# 상영관테이블 생성
## 상영관에 영화 정보 필요
sql = " CREATE TABLE sangyounggwan(sang_id INT NOT NULL AUTO_INCREMENT, sang_name VARCHAR(20), type VARCHAR(15), num_of_seats INT, branch_id VARCHAR(30),PRIMARY KEY(sang_id),FOREIGN KEY(branch_id) REFERENCES branch(branch_id));"
curs.execute(sql)

0

In [90]:
# 시간표테이블 생성 
## 시간 (잔여)좌석수
curs.execute("CREATE TABLE time_table(time_table_id INT NOT NULL AUTO_INCREMENT, date_time DATETIME,left_seats INT,sang_id INT,movie_id INT,PRIMARY KEY(time_table_id),FOREIGN KEY(movie_id) REFERENCES movie(movie_id), FOREIGN KEY(sang_id) REFERENCES sangyounggwan(sang_id));")

0

In [91]:
curs.execute("show tables;")

6

mysql> show tables;

+-----------------+

| Tables_in_movie |

+-----------------+

| branch          |

| city            |

| movie           |

| sangyounggwan   |

| theater         |

| time_table      |

+-----------------+

6 rows in set (0.00 sec)

In [35]:
conn.close()

Error: Already closed

In [59]:
import os
os.chdir('city')

In [60]:
import pandas as pd

In [109]:
s = pd.read_csv('seoul.csv')
gg= pd.read_csv('gyeonggi.csv')
ic = pd.read_csv('incheon.csv')
gw = pd.read_csv('gangwon.csv')
cds = pd.read_csv('chung_dae_se.csv')
dg = pd.read_csv('daegu_gyeongbuk.csv')
bu = pd.read_csv('busan_ulsan.csv')
gj = pd.read_csv('gwangju_jeolla.csv')
j = pd.read_csv('jeju.csv')

In [72]:
citys = ['서울', '경기', '인천', '강원', '충청/대구/세종', '대구/경상', '부산/울산', '광주/전라', '제주']

### 0. 도시 입력(반복문)
- 에러
   - 반복문 insert가 터미널상의 mysql에서 보이지 x

In [102]:
curs.execute("INSERT INTO city(city_name) VALUES('서울');")

1

In [103]:
for i in range(1, len(citys)):
    sql = "INSERT INTO city(city_name) VALUES('"+ citys[i] + "');"
    print(sql)
    curs.execute(sql)

INSERT INTO city(city_name) VALUES('경기');
INSERT INTO city(city_name) VALUES('인천');
INSERT INTO city(city_name) VALUES('강원');
INSERT INTO city(city_name) VALUES('충청/대구/세종');
INSERT INTO city(city_name) VALUES('대구/경상');
INSERT INTO city(city_name) VALUES('부산/울산');
INSERT INTO city(city_name) VALUES('광주/전라');
INSERT INTO city(city_name) VALUES('제주');

In [104]:
curs.execute('select * from city;')

25

### 1. 지점 입력(반복문)
- branch(branch_id VARCHAR(30) NOT NULL, branch_name VARCHAR(10), city_id INT, brand_name varchar(20))


- 에러
    - 서울, 인천은 왜인지 입력 x
    - 부산: 이름이 너무 긺(varchar 늘려야? 이름 바꿔야?)
    - 제주: 중복된 id 존재

In [65]:
total = pd.concat([s,gg,i,gw, dg,cds,gj,bu,j])

In [113]:
# 서울
for i in range(len(s)):
    name = list(s['name'])[i]
    ids = list(s['id'])[i]
    brand = list(s['brand'])[i]
    if brand == 'loci': brand = '롯데시네마'
    elif brand == 'mega': brand = '메가박스'
    else: brand = 'cgv'
    sql = "INSERT INTO branch VALUES( '" + ids + "' , '" + name + "', " + '1' + ", '"  +brand+ "');"
    print(sql)
    curs.execute(sql)

INSERT INTO branch VALUES( '0056' , '강남', 1, 'cgv');

IntegrityError: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`movie`.`branch`, CONSTRAINT `branch_ibfk_1` FOREIGN KEY (`city_id`) REFERENCES `city` (`city_id`))')

In [114]:
# 경기
for i in range(len(gg)):
    name = list(gg['name'])[i]
    ids = list(gg['id'])[i]
    brand = list(gg['brand'])[i]
    if brand == 'loci': brand = '롯데시네마'
    elif brand == 'mega': brand = '메가박스'
    else: brand = 'cgv'
    sql = "INSERT INTO branch VALUES( '" + ids + "' , '" + name + "', " + '2' + ", '"  +brand+ "');"
    print(sql)
    curs.execute(sql)

INSERT INTO branch VALUES( '0260' , '경기광주', 2, 'cgv');

IntegrityError: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`movie`.`branch`, CONSTRAINT `branch_ibfk_1` FOREIGN KEY (`city_id`) REFERENCES `city` (`city_id`))')

In [112]:
# 인천
for i in range(len(ic)):
    name = list(ic['name'])[i]
    ids = list(ic['id'])[i]
    brand = list(ic['brand'])[i]
    if brand == 'loci': brand = '롯데시네마'
    elif brand == 'mega': brand = '메가박스'
    else: brand = 'cgv'
    sql = "INSERT INTO branch VALUES( '" + ids + "' , '" + name + "', " + '3' + ", '"  +brand+ "');"
    print(sql)
    curs.execute(sql)

INSERT INTO branch VALUES( '0043' , '계양', 3, 'cgv');
INSERT INTO branch VALUES( '0198' , '남주안', 3, 'cgv');
INSERT INTO branch VALUES( '0021' , '부평', 3, 'cgv');
INSERT INTO branch VALUES( '0247' , '연수역', 3, 'cgv');
INSERT INTO branch VALUES( '0002' , '인천', 3, 'cgv');
INSERT INTO branch VALUES( '0118' , '인천공항', 3, 'cgv');
INSERT INTO branch VALUES( '0254' , '인천논현', 3, 'cgv');
INSERT INTO branch VALUES( '0258' , '인천연수', 3, 'cgv');
INSERT INTO branch VALUES( '0269' , '인천학익', 3, 'cgv');
INSERT INTO branch VALUES( '0308' , '주안역', 3, 'cgv');
INSERT INTO branch VALUES( '0235' , '청라', 3, 'cgv');
INSERT INTO branch VALUES( '1|0002|3013' , '주엽', 3, '롯데시네마');
INSERT INTO branch VALUES( '1|0002|3015' , '검단', 3, '롯데시네마');
INSERT INTO branch VALUES( '1|0002|3003' , '부평', 3, '롯데시네마');
INSERT INTO branch VALUES( '1|0002|3008' , '부평역사', 3, '롯데시네마');
INSERT INTO branch VALUES( '1|0002|3035' , '인천아시아드', 3, '롯데시네마');
INSERT INTO branch VALUES( '1|0002|3038' , '인천터미널', 3, '롯데시네마');
INSERT INTO branch VALUES( '4041' , '검단', 3, '메가박스');
INSERT INTO branch VALUES( '4062' , '송도', 3, '메가박스');
INSERT INTO branch VALUES( '4001' , '영종', 3, '메가박스');
INSERT INTO branch VALUES( '4051' , '인천논현', 3, '메가박스');
INSERT INTO branch VALUES( '4042' , '청라', 3, '메가박스');
INSERT INTO branch VALUES( '4043' , '청라지젤', 3, '메가박스');

In [115]:
# 강원
for i in range(len(gw)):
    name = list(gw['name'])[i]
    ids = list(gw['id'])[i]
    brand = list(gw['brand'])[i]
    if brand == 'loci': brand = '롯데시네마'
    elif brand == 'mega': brand = '메가박스'
    else: brand = 'cgv'
    sql = "INSERT INTO branch VALUES( '" + ids + "' , '" + name + "', " + '4' + ", '"  +brand+ "');"
    print(sql)
    curs.execute(sql)

INSERT INTO branch VALUES( '0139' , '강릉', 4, 'cgv');
INSERT INTO branch VALUES( '0144' , '원주', 4, 'cgv');
INSERT INTO branch VALUES( '0281' , '인제', 4, 'cgv');
INSERT INTO branch VALUES( '0070' , '춘천', 4, 'cgv');
INSERT INTO branch VALUES( '1|0007|7001' , '남원주', 4, '롯데시네마');
INSERT INTO branch VALUES( '1|0007|7002' , '동해', 4, '롯데시네마');
INSERT INTO branch VALUES( '1|0007|7003' , '원주무실', 4, '롯데시네마');
INSERT INTO branch VALUES( '1|0007|9081' , '춘천', 4, '롯데시네마');
INSERT INTO branch VALUES( '2001' , '남춘천', 4, '메가박스');
INSERT INTO branch VALUES( '2171' , '속초', 4, '메가박스');
INSERT INTO branch VALUES( '2201' , '원주', 4, '메가박스');
INSERT INTO branch VALUES( '2202' , '원주센트럴', 4, '메가박스');

In [116]:
# 충청 대구 세종
for i in range(len(cds)):
    name = list(cds['name'])[i]
    ids = list(cds['id'])[i]
    brand = list(cds['brand'])[i]
    if brand == 'loci': brand = '롯데시네마'
    elif brand == 'mega': brand = '메가박스'
    else: brand = 'cgv'
    sql = "INSERT INTO branch VALUES( '" + ids + "' , '" + name + "', " + '5' + ", '"  +brand+ "');"
    print(sql)
    curs.execute(sql)

INSERT INTO branch VALUES( '0207' , '당진', 5, 'cgv');
INSERT INTO branch VALUES( '0007' , '대전', 5, 'cgv');
INSERT INTO branch VALUES( '0286' , '대전가수원', 5, 'cgv');
INSERT INTO branch VALUES( '0154' , '대전가오', 5, 'cgv');
INSERT INTO branch VALUES( '0202' , '대전탄방', 5, 'cgv');
INSERT INTO branch VALUES( '0127' , '대전터미널', 5, 'cgv');
INSERT INTO branch VALUES( '0275' , '보령', 5, 'cgv');
INSERT INTO branch VALUES( '0091' , '서산', 5, 'cgv');
INSERT INTO branch VALUES( '0219' , '세종', 5, 'cgv');
INSERT INTO branch VALUES( '0206' , '유성노은', 5, 'cgv');
INSERT INTO branch VALUES( '0044' , '천안', 5, 'cgv');
INSERT INTO branch VALUES( '0293' , '천안터미널', 5, 'cgv');
INSERT INTO branch VALUES( '0110' , '천안펜타포트', 5, 'cgv');
INSERT INTO branch VALUES( '0228' , '청주(서문)', 5, 'cgv');
INSERT INTO branch VALUES( '0297' , '청주성안길', 5, 'cgv');
INSERT INTO branch VALUES( '0282' , '청주율량', 5, 'cgv');
INSERT INTO branch VALUES( '0142' , '청주지웰시티', 5, 'cgv');
INSERT INTO branch VALUES( '0319' , '청주터미널', 5, 'cgv');
INSERT INTO branch VALUES( '0284' , '충북혁신', 5, 'cgv');
INSERT INTO branch VALUES( '0217' , '홍성', 5, 'cgv');
INSERT INTO branch VALUES( '1|0003|4002' , '대전(백화점)', 5, '롯데시네마');
INSERT INTO branch VALUES( '1|0003|4009' , '대전관저', 5, '롯데시네마');
INSERT INTO branch VALUES( '1|0003|4006' , '대전둔산(월평동)', 5, '롯데시네마');
INSERT INTO branch VALUES( '1|0003|4008' , '대전센트럴', 5, '롯데시네마');
INSERT INTO branch VALUES( '1|0003|9044' , '서산', 5, '롯데시네마');
INSERT INTO branch VALUES( '1|0003|4004' , '서청주(아울렛)', 5, '롯데시네마');
INSERT INTO branch VALUES( '1|0003|4005' , '아산터미널', 5, '롯데시네마');
INSERT INTO branch VALUES( '1|0003|4003' , '청주(성안길)', 5, '롯데시네마');
INSERT INTO branch VALUES( '1|0003|4007' , '청주용암', 5, '롯데시네마');
INSERT INTO branch VALUES( '1|0003|' , '충주', 5, '롯데시네마');
INSERT INTO branch VALUES( '3141' , '공주', 5, '메가박스');
INSERT INTO branch VALUES( '3021' , '대전', 5, '메가박스');
INSERT INTO branch VALUES( '0009' , '대전유성', 5, '메가박스');
INSERT INTO branch VALUES( '3011' , '대전중앙로', 5, '메가박스');
INSERT INTO branch VALUES( '0017' , '대전현대아울렛', 5, '메가박스');
INSERT INTO branch VALUES( '3391' , '세종(조치원)', 5, '메가박스');
INSERT INTO branch VALUES( '3392' , '세종나성', 5, '메가박스');
INSERT INTO branch VALUES( '0008' , '세종청사', 5, '메가박스');
INSERT INTO branch VALUES( '3631' , '오창', 5, '메가박스');
INSERT INTO branch VALUES( '3901' , '제천', 5, '메가박스');
INSERT INTO branch VALUES( '3651' , '진천', 5, '메가박스');
INSERT INTO branch VALUES( '3301' , '천안', 5, '메가박스');
INSERT INTO branch VALUES( '0013' , '청주사창', 5, '메가박스');
INSERT INTO branch VALUES( '3801' , '충주', 5, '메가박스');
INSERT INTO branch VALUES( '3501' , '홍성내포', 5, '메가박스');

In [117]:
# 대구 경상
for i in range(len(dg)):
    name = list(dg['name'])[i]
    ids = list(dg['id'])[i]
    brand = list(dg['brand'])[i]
    if brand == 'loci': brand = '롯데시네마'
    elif brand == 'mega': brand = '메가박스'
    else: brand = 'cgv'
    sql = "INSERT INTO branch VALUES( '" + ids + "' , '" + name + "', " + '6' + ", '"  +brand+ "');"
    print(sql)
    curs.execute(sql)

INSERT INTO branch VALUES( '0058' , '대구', 6, 'cgv');
INSERT INTO branch VALUES( '0157' , '대구수성', 6, 'cgv');
INSERT INTO branch VALUES( '0108' , '대구스타디움', 6, 'cgv');
INSERT INTO branch VALUES( '0185' , '대구아카데미', 6, 'cgv');
INSERT INTO branch VALUES( '0216' , '대구월성', 6, 'cgv');
INSERT INTO branch VALUES( '0117' , '대구이시아', 6, 'cgv');
INSERT INTO branch VALUES( '0071' , '대구칠곡', 6, 'cgv');
INSERT INTO branch VALUES( '0147' , '대구한일', 6, 'cgv');
INSERT INTO branch VALUES( '0109' , '대구현대', 6, 'cgv');
INSERT INTO branch VALUES( '0263' , '거제', 6, 'cgv');
INSERT INTO branch VALUES( '0053' , '구미', 6, 'cgv');
INSERT INTO branch VALUES( '0240' , '김천율곡', 6, 'cgv');
INSERT INTO branch VALUES( '0028' , '김해', 6, 'cgv');
INSERT INTO branch VALUES( '0311' , '김해율하', 6, 'cgv');
INSERT INTO branch VALUES( '0239' , '김해장유', 6, 'cgv');
INSERT INTO branch VALUES( '0033' , '마산', 6, 'cgv');
INSERT INTO branch VALUES( '0097' , '북포항', 6, 'cgv');
INSERT INTO branch VALUES( '0272' , '안동', 6, 'cgv');
INSERT INTO branch VALUES( '0222' , '양산물금', 6, 'cgv');
INSERT INTO branch VALUES( '0234' , '양산삼호', 6, 'cgv');
INSERT INTO branch VALUES( '0023' , '창원', 6, 'cgv');
INSERT INTO branch VALUES( '0079' , '창원더시티', 6, 'cgv');
INSERT INTO branch VALUES( '0156' , '통영', 6, 'cgv');
INSERT INTO branch VALUES( '0045' , '포항', 6, 'cgv');
INSERT INTO branch VALUES( '1|0005|5008' , '경산', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|9050' , '경주', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|9001' , '구미 프라임1번가', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|5013' , '구미공단', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|5012' , '대구광장', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|5006' , '대구율하', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|9076' , '대구현풍', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|5005' , '동성로', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|5016' , '상인', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|9080' , '상주', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|5004' , '성서', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|9064' , '영주', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|5007' , '포항', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|9067' , '프리미엄구미센트럴', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|9066' , '프리미엄만경', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|9074' , '프리미엄안동', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0005|9057' , '프리미엄칠곡', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|9082' , '거창', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|5015' , '김해부원', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|5011' , '김해아울렛(장유)', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|9042' , '마산(합성동)', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|9069' , '엠비씨네(진주)', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|5017' , '진주혁신(롯데몰)', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|5009' , '진해', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|5002' , '창원', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|9036' , '통영', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|9072' , '프리미엄경남대', 6, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|9003' , '프리미엄진주(중안)', 6, '롯데시네마');
INSERT INTO branch VALUES( '7602' , '경북도청', 6, '메가박스');
INSERT INTO branch VALUES( '7122' , '경산하양', 6, '메가박스');
INSERT INTO branch VALUES( '7801' , '경주', 6, '메가박스');
INSERT INTO branch VALUES( '7303' , '구미강동', 6, '메가박스');
INSERT INTO branch VALUES( '7401' , '김천', 6, '메가박스');
INSERT INTO branch VALUES( '7901' , '남포항', 6, '메가박스');
INSERT INTO branch VALUES( '7022' , '대구(칠성로)', 6, '메가박스');
INSERT INTO branch VALUES( '7011' , '대구신세계(동대구)', 6, '메가박스');
INSERT INTO branch VALUES( '7012' , '대구이시아', 6, '메가박스');
INSERT INTO branch VALUES( '6312' , '마산', 6, '메가박스');
INSERT INTO branch VALUES( '7451' , '문경', 6, '메가박스');
INSERT INTO branch VALUES( '6261' , '양산', 6, '메가박스');
INSERT INTO branch VALUES( '6262' , '양산라피에스타', 6, '메가박스');
INSERT INTO branch VALUES( '6811' , '울산', 6, '메가박스');
INSERT INTO branch VALUES( '7021' , '북대구(칠곡)', 6, '메가박스');
INSERT INTO branch VALUES( '6641' , '사천', 6, '메가박스');
INSERT INTO branch VALUES( '6642' , '삼천포', 6, '메가박스');
INSERT INTO branch VALUES( '6421' , '창원', 6, '메가박스');
INSERT INTO branch VALUES( '0014' , '창원내서', 6, '메가박스');

In [118]:
# 부산 울산
for i in range(len(bu)):
    name = list(bu['name'])[i]
    ids = list(bu['id'])[i]
    brand = list(bu['brand'])[i]
    if brand == 'loci': brand = '롯데시네마'
    elif brand == 'mega': brand = '메가박스'
    else: brand = 'cgv'
    sql = "INSERT INTO branch VALUES( '" + ids + "' , '" + name + "', " + '7' + ", '"  +brand+ "');"
    print(sql)
    curs.execute(sql)

INSERT INTO branch VALUES( '0065' , '남포', 7, 'cgv');
INSERT INTO branch VALUES( '0061' , '대연', 7, 'cgv');
INSERT INTO branch VALUES( '0042' , '동래', 7, 'cgv');
INSERT INTO branch VALUES( '0005' , '서면', 7, 'cgv');
INSERT INTO branch VALUES( '0285' , '서면삼정타워', 7, 'cgv');
INSERT INTO branch VALUES( '0089' , '센텀시티', 7, 'cgv');
INSERT INTO branch VALUES( '0160' , '아시아드', 7, 'cgv');
INSERT INTO branch VALUES( '0128' , '울산삼산', 7, 'cgv');
INSERT INTO branch VALUES( '0264' , '울산신천', 7, 'cgv');
INSERT INTO branch VALUES( '0246' , '울산진장', 7, 'cgv');
INSERT INTO branch VALUES( '0306' , '정관', 7, 'cgv');
INSERT INTO branch VALUES( '0245' , '하단아트몰링', 7, 'cgv');
INSERT INTO branch VALUES( '0318' , '해운대', 7, 'cgv');
INSERT INTO branch VALUES( '0159' , '화명', 7, 'cgv');
INSERT INTO branch VALUES( '1|0006|2004' , '부산본점', 7, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|2012' , '대영', 7, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|2007' , '동래', 7, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|2005' , '사상', 7, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|2008' , '서면(전포동)', 7, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|2009' , '광복', 7, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|2006' , '센텀시티', 7, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|2010' , '동부산아울렛', 7, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|2011' , '오투(부산대)', 7, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|5001' , '울산(백화점)', 7, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|5014' , '울산성남', 7, '롯데시네마');
INSERT INTO branch VALUES( '1|0006|9059' , '프리미엄해운대(장산역)', 7, '롯데시네마');

DataError: (1406, "Data too long for column 'branch_name' at row 1")

In [119]:
# 광주 전라
for i in range(len(gj)):
    name = list(gj['name'])[i]
    ids = list(gj['id'])[i]
    brand = list(gj['brand'])[i]
    if brand == 'loci': brand = '롯데시네마'
    elif brand == 'mega': brand = '메가박스'
    else: brand = 'cgv'
    sql = "INSERT INTO branch VALUES( '" + ids + "' , '" + name + "', " + '8' + ", '"  +brand+ "');"
    print(sql)
    curs.execute(sql)

INSERT INTO branch VALUES( '0220' , '광양', 8, 'cgv');
INSERT INTO branch VALUES( '0221' , '광양 엘에프스퀘어', 8, 'cgv');
INSERT INTO branch VALUES( '0259' , '광주금남로', 8, 'cgv');
INSERT INTO branch VALUES( '0193' , '광주상무', 8, 'cgv');
INSERT INTO branch VALUES( '0210' , '광주용봉', 8, 'cgv');
INSERT INTO branch VALUES( '0218' , '광주첨단', 8, 'cgv');
INSERT INTO branch VALUES( '0244' , '광주충장로', 8, 'cgv');
INSERT INTO branch VALUES( '0090' , '광주터미널', 8, 'cgv');
INSERT INTO branch VALUES( '0215' , '광주하남', 8, 'cgv');
INSERT INTO branch VALUES( '0277' , '군산', 8, 'cgv');
INSERT INTO branch VALUES( '0237' , '나주', 8, 'cgv');
INSERT INTO branch VALUES( '0289' , '목포', 8, 'cgv');
INSERT INTO branch VALUES( '0280' , '목포평화광장', 8, 'cgv');
INSERT INTO branch VALUES( '0225' , '서전주', 8, 'cgv');
INSERT INTO branch VALUES( '0114' , '순천', 8, 'cgv');
INSERT INTO branch VALUES( '0268' , '순천신대', 8, 'cgv');
INSERT INTO branch VALUES( '0315' , '여수웅천', 8, 'cgv');
INSERT INTO branch VALUES( '0020' , '익산', 8, 'cgv');
INSERT INTO branch VALUES( '0213' , '전주고사', 8, 'cgv');
INSERT INTO branch VALUES( '0179' , '전주효자', 8, 'cgv');
INSERT INTO branch VALUES( '0186' , '정읍', 8, 'cgv');
INSERT INTO branch VALUES( '1|0004|6001' , '광주(백화점)', 8, '롯데시네마');
INSERT INTO branch VALUES( '1|0004|9065' , '광주광산', 8, '롯데시네마');
INSERT INTO branch VALUES( '1|0004|6007' , '군산나운', 8, '롯데시네마');
INSERT INTO branch VALUES( '1|0004|6009' , '군산몰', 8, '롯데시네마');
INSERT INTO branch VALUES( '1|0004|6004' , '수완(아울렛)', 8, '롯데시네마');
INSERT INTO branch VALUES( '1|0004|9070' , '익산모현', 8, '롯데시네마');
INSERT INTO branch VALUES( '1|0004|6002' , '전주(백화점)', 8, '롯데시네마');
INSERT INTO branch VALUES( '1|0004|6006' , '전주평화', 8, '롯데시네마');
INSERT INTO branch VALUES( '1|0004|9047' , '충장로', 8, '롯데시네마');
INSERT INTO branch VALUES( '5021' , '광주상무', 8, '메가박스');
INSERT INTO branch VALUES( '5061' , '광주하남', 8, '메가박스');
INSERT INTO branch VALUES( '5901' , '남원', 8, '메가박스');
INSERT INTO branch VALUES( '5302' , '목포하당(포르모)', 8, '메가박스');
INSERT INTO branch VALUES( '5612' , '송천', 8, '메가박스');
INSERT INTO branch VALUES( '5401' , '순천', 8, '메가박스');
INSERT INTO branch VALUES( '5552' , '여수웅천', 8, '메가박스');
INSERT INTO branch VALUES( '0010' , '전대(광주)', 8, '메가박스');
INSERT INTO branch VALUES( '5064' , '첨단', 8, '메가박스');

In [120]:
# 제주
for i in range(len(j)):
    name = list(j['name'])[i]
    ids = list(j['id'])[i]
    brand = list(j['brand'])[i]
    if brand == 'loci': brand = '롯데시네마'
    elif brand == 'mega': brand = '메가박스'
    else: brand = 'cgv'
    sql = "INSERT INTO branch VALUES( '" + ids + "' , '" + name + "', " + '9' + ", '"  +brand+ "');"
    print(sql)
    curs.execute(sql)

INSERT INTO branch VALUES( '0302' , '제주', 9, 'cgv');
INSERT INTO branch VALUES( '0259' , '제주노형', 9, 'cgv');

IntegrityError: (1062, "Duplicate entry '0259' for key 'branch.PRIMARY'")

### 2. 상영관 입력

- 각 branch 별로 넣어야 함 
- sangyounggwan(sang_id, no, num_of_seats, branch_id)

In [6]:
import CrawMovie as cm

In [121]:
import datetime
now = datetime.datetime.now()
date = str(now)[:10]
now = str(now)[:10].replace('-','')

In [123]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [104]:
for i in range(len(s)):
    name = list(s['name'])[i]
    movie_list = check_available_movie(name, now)
    for j in range(0,6,2): 
        brand = movie_list[j][0] # j = 0,2,4 즉 brand name
        for movie in movie_list[j+1][0]:
            movie_name = movie[0] # 영화 이름 
            movie_list.append(movie_name)
            for m in movie[1]:
                start = m[0] # 시작 시간
                seats = m[1] # 잔여 좌석
                swg = m[2] #상영관

NameError: name 'check_available_movie' is not defined

In [125]:
sang = []
movie_list = []

for i in range(len(total)):
    name = list(total['name'])[i]
    branch_id = list(total['id'])[i]
    
    if list(total['brand'])[i] == 'cgv': 
        area = list(total['areacode'])[i]
        if '%' not in str(area): area = int(area)
        cgv_url = "http://www.cgv.co.kr/common/showtimes/iframeTheater.aspx?areacode=" + str(area) + "&theatercode="+branch_id+"&date="+date
        response = requests.get(cgv_url)
        html = response.text
        #soup = BeautifulSoup(html)
        soup = BeautifulSoup(html,'html.parser')
        movies = soup.select('body > div > div.sect-showtimes > ul > li')
        for movie in movies:
            if movie.select_one('div.info-hall > ul > li:nth-child(3)'):
                total_seats = movie.select_one('div.info-hall > ul > li:nth-child(3)').get_text().strip()[-4:]
                sang_num = movie.select_one('div.info-hall > ul > li:nth-child(2)').get_text().strip()
                info = movie.select_one('div.info-hall > ul > li:nth-child(1)').get_text().strip()
                if [sang_num, total_seats] not in sang: sang.append([sang_num, total_seats, 'cgv'])
            
                age = movie.select_one('div.info-movie > span').get_text().strip()
                title = movie.select_one('div > div.info-movie > a > strong').get_text().strip()
                if [title, age] not in movie_list: movie_list.append([title, age])
                
    if list(total['brand'])[i] == 'mega': 
        url = "https://www.megabox.co.kr/on/oh/ohc/Brch/schedulePage.do"
        parameters = {"masterType":"brch",
              "detailType":"area",
              "brchNo": branch_id,
              "firstAt":"N",
              "brchNo1": branch_id, # branch number: 강남 
              "crtDe": now,
              "playDe":now} # 상영 날짜 
        response = requests.post(url, data = parameters).json()
        movie_response = response['megaMap']['movieFormList']
        for movie in movie_response:
            sang_num = movie['theabExpoNm'] # 상영관 정보
            total_seats = movie['theabSeatCnt'] # 총 좌석수
            info = '2D'
            if sang_num not in sang: sang.append([sang_num, info, total_seats])
                
            title = movie['movieNm']
            age = movie['admisClassCdNm']
            if [title, age] not in movie_list: movie_list.append([title, age])
        
    if list(total['brand'])[i] == 'loci': 
        url = 'http://lottecinema.co.kr/LCWS/Ticketing/TicketingData.aspx'
        parameters =  {"MethodName":"GetPlaySequence",
               "channelType":"HO",
               "osType":"W",
               "osVersion":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.87 Safari/537.36",
               "playDate": date, # 날짜
               "cinemaID": branch_id, # 상영관 id
               "representationMovieCode":""}

        response = requests.post(url, data = {"paramList": str(parameters).encode()}).json()
        movies_response = response['PlaySeqs']['Items']
        for movie in movies_response:
            sang_num = movie['ScreenNameKR']
            info = movie['FilmNameKR']
            total_seats = '총 ' +str(movie['TotalSeatCount'])+'석'
            if sang_num not in sang: sang.append([sang_num, info, total_seats])
        
            title = movie['MovieNameKR']
            age = movie['ViewGradeNameKR']+'세'
            if [title, age] not in movie_list: movie_list.append([title, age])

KeyError: 'PlaySeqs'

In [ ]:
for s in sang:
    name, nums, branch_id = s
    sql = 'INSERT INTO sangyounggwan VALUES (' + name + " , " + nums + " , " + branch_id + " )" 
    print(sql)
    #curs.excute(sql)

### 3. 시간표에 정보 저장

- time_table(time_table_id, date_time , left_seats , sang_id)
- 상영관별로 넣어야 함

** price 빼기
** id 자동으로

In [ ]:
sang_id = #상영관 id
sql = "INSERT INTO time_table VALUES( " +  + now + "," + seats +"," + sang_id + ");"
print(sql)
#curs.execute(sql)

### 4. 영화 정보 저장
- movie(title, info ,age_grade , genre, running_time,director, cast, company)
- 제목이 not null

** id 자동으로

In [38]:
temp = []
for movie in movie_list:
    title, age = movie
    if title not in temp:
        if 'F' not in title:
            sql = "INSERT INTO movie VALUES( " + title + " , " + age + ");"
            temp.append(title)
            print(sql)
    #curs.execute(sql)

INSERT INTO movie VALUES( 테넷 , 12세 이상);
INSERT INTO movie VALUES( 다만 악에서 구하소서 , 15세 이상);
INSERT INTO movie VALUES( 브링 더 소울-더 무비 , 전체);
INSERT INTO movie VALUES( 오케이 마담 , 15세 이상);
INSERT INTO movie VALUES( 시크릿 가든 , 전체);
INSERT INTO movie VALUES( 남매의 여름밤 , 전체);
INSERT INTO movie VALUES( 극장판 짱구는 못말려-신혼여행 허리케인~ 사라진 아빠! , 전체);
INSERT INTO movie VALUES( 후쿠오카 , 15세 이상);
INSERT INTO movie VALUES( 사랑이 눈뜰 때 , 12세 이상);
INSERT INTO movie VALUES( 69세 , 15세 이상);
INSERT INTO movie VALUES( 리메인 , 청소년 관람불가);
INSERT INTO movie VALUES( (월간뮤지컬)톡식 어벤져 , 15세 이상);
INSERT INTO movie VALUES( 캐리비안 해적과 마법 다이아몬드 , 전체);
INSERT INTO movie VALUES( 이별식당 , 12세 이상);
INSERT INTO movie VALUES( 반교-디텐션 , 15세 이상);
INSERT INTO movie VALUES( 부다페스트 스토리 , 15세 이상);
INSERT INTO movie VALUES( 개와 고양이를 위한 시간 , 전체);
INSERT INTO movie VALUES( 여름날 , 전체);
INSERT INTO movie VALUES( 셰이프 오브 뮤직-알렉상드르 데스플라 , 전체);
INSERT INTO movie VALUES( 동아시아반일무장전선 , 15세 이상);
INSERT INTO movie VALUES( 강철비2-정상회담 , 15세 이상);
INSERT INTO movie VALUES( 반도 , 15세 이상);
INSERT INTO movie VALUES( 메멘토 , 15세 이상);
INSERT INTO movie VALUES( 애니멀 크래커 , 전체);
INSERT INTO movie VALUES( 극장판 짱구는 못말려: 신혼여행 허리케인~ 사라진 아빠! , 전체세);
INSERT INTO movie VALUES( 나의 소녀시대 , 15세);
INSERT INTO movie VALUES( 강철비2: 정상회담 , 15세);
INSERT INTO movie VALUES( 반교: 디텐션 , 15세);
INSERT INTO movie VALUES( 패왕별희 디 오리지널 , 15세);
INSERT INTO movie VALUES( 워터 릴리스 , 15세);
INSERT INTO movie VALUES( 셰이프 오브 뮤직: 알렉상드르 데스플라 , 전체세);
INSERT INTO movie VALUES( 극장판 시로바코 , 12세이상관람가);
INSERT INTO movie VALUES( 존 윅 - 리로드 , 청소년관람불가);
INSERT INTO movie VALUES( 트로이 디렉터스 컷 , 청소년관람불가);
INSERT INTO movie VALUES( 킹 오브 프리즘 올 스타즈 -프리즘 쇼☆베스트10- , 12세이상관람가);
INSERT INTO movie VALUES( 인셉션 , 12세이상관람가);
INSERT INTO movie VALUES( 어서오시게스트하우스 , 15세이상관람가);
INSERT INTO movie VALUES( 야구소녀 , 12세 이상);
INSERT INTO movie VALUES( 애프터 웨딩 인 뉴욕 , 12세 이상);
INSERT INTO movie VALUES( 나는보리 , 전체);
INSERT INTO movie VALUES( 더 프린세스-도둑맞은 공주 , 전체);
INSERT INTO movie VALUES( 찬실이는 복도 많지 , 전체);
INSERT INTO movie VALUES( 우산을 안 가지고 와서 , 미정);
INSERT INTO movie VALUES( 안녕 내 사랑 , 미정);
INSERT INTO movie VALUES( 파란 불이 들어오면 , 미정);
INSERT INTO movie VALUES( 더 프린세스 : 도둑맞은 공주 , 전체관람가);
INSERT INTO movie VALUES( 쉘부르의 우산 , 12세이상관람가);
INSERT INTO movie VALUES( 성혜의 나라 , 12세이상관람가);
INSERT INTO movie VALUES( 죽도 서핑 다이어리 , 12세이상관람가);
INSERT INTO movie VALUES( 치어리딩 클럽 , 12세 이상);
INSERT INTO movie VALUES( 윤희에게 , 12세 이상);
INSERT INTO movie VALUES( 큐리오사 , 청불세);
INSERT INTO movie VALUES( 오! 문희 , 12세이상관람가);
INSERT INTO movie VALUES( 빅샤크3: 젤리몬스터 대소동 , 전체관람가);
INSERT INTO movie VALUES( 엘라 벨라 빙고: 친구 찾기 대작전 , 전체관람가);
INSERT INTO movie VALUES( 그리고 가을이 왔다 , 미정);